[submodule "Covalence"]
	path = Covalence
	url = git@github.com:digitalscientists/Covalence.git
[submodule "vendor/plugins/covalence"]
	path = vendor/plugins/covalence
	url = git@github.com:digitalscientists/Covalence.git
