cache/*
config/database.yml
config/sphinx.yml
config/*.sphinx.conf
db/sphinx/*
db/schema.rb
log/*.pid
log/*.log
tmp/*
public/system/*
public/data
public/stylesheets/screen.css
public/uploads
*.DS_Store
*.swo
*.swp
