Welcome to PYO!

You're just one step away from activating your account and being able to Put Yourself On. Click the link below to finish your registration.

<%= new_user_confirmation_url :user_id => @user, :token => @user.token, :encode => false %>

Thanks!

----------
Put Yourself On
<a href="http://putyourselfon.com/">www.putyourselfon.com</a>

Note: Please do not reply to this message; it was sent from an unmonitored email address. This message is a service email related to your use of Put Yourself On. For general inquiries or to request support with your PYO account, please <a href="http://putyourselfon.com/contact/">Contact Us</a>.
