<p>You have a new comment from <%= @comment.producer.name %>.</p>

<p><%= @comment.producer.name %> says:</br>
<%= @comment.message %></p>

<p>To view the message, click this link:  <%= user_url(@user) %></p>

