%h3 Leave a Comment
- form_for(:comment,:url=>comments_path) do |form|
  %div
    = hidden_field_tag("comment[consumer_id]", commentable.id)
    = hidden_field_tag("comment[consumer_type]", commentable.class.to_s)
    = text_area_tag "comment[message]"
    = form.submit 'Add Comment'