body
  :background-color #222
  :font-family Arial
  :font-size 0.8em

p, h1, h2, h3, h4, h5, ul, form, img
  :padding 0
  :margin 0

.blue
  :color #006FFF

a
  :outline none
  :color #006FFF
  :font-weight bold
  :text-decoration none
  img
    :border none

h2 
  :color #006FFF
  :font-size 3em

h3
  :background-color #BBB
  :padding 5px 5px
  
h4
  :font-size 2em
  
h5
  :color #006FFF
  :text-transform uppercase
  :border-bottom 1px solid #DDD
  :padding-bottom 7px
  :margin-bottom 20px
  :font-size 1.4em

h2.logo
  :text-indent -99999px
  :background url(/images/logo.png) top left no-repeat
  :width 500px
  :height 70px
  :float left
  a
    :width 500px
    :height 70px
    :display block
  
ul.menu, ul.separated 
  :list-style-type none
  li
    :display inline

#main
  :width 900px
  :margin 0 auto

.header
  :float left
  :width 900px
  :position relative
  :margin-bottom 10px

#content
  :width 900px
  :background url(/images/content_top.png) #FFF top center no-repeat
  :float left
  :margin-bottom 10px 
  
#inner_content
  :width 880px
  :background url(/images/content_bottom.jpg) center bottom no-repeat
  :padding 15px 10px

  :float left

.inner_content
  :clear both
  :margin-bottom 10px

.main
  :float right
  :width 615px


.details
  :float left
  :width 250px

.top
  :margin-bottom 10px

.footer
  :clear both
  :width 900px
  :height 56px
  :margin 0 auto
  :background url(/images/footer.png) top left no-repeat
  :color #333
  :padding-top 10px
  
  :text-align center
  .footer-left
    :clear both
  ul
    :margin 5px 0
    li
      :display inline
      a
        :border-left 1px solid #444
        :margin-left 5px
        :padding-left 7px
    li.first
      a
        :border none


.content
  :clear both
  
.user_bar
  :position absolute
  :bottom 10px
  :right 0
  :vertical-align bottom
  ul
    :text-transform uppercase
    li
      a
        :display block
        :float left
        :background url(/images/separator.gif) center left no-repeat
        :padding 0 5px 0 8px
    li.first
      a
        :background none

#navigation
  :height 40px
  :background url(/images/menu_bg.jpg) top left repeat-x
  :margin 10px 0
  :border 1px solid #444
  :line-height 40px
  ul
    :float left
    li
      :display inline
      a
        :color #FFF
        :display block
        :float left
        :padding 0 10px
        :border-right 1px solid #444
        
        
.search
  :float right
  :position relative
  form
    :float right
    :background #FFF
    :height 25px
    :margin-right 10px
    :margin-top 5px
    :border 1px solid #222
    :padding-left 5px
    input
      :outline none
      :border 0
      :height 1.3em
      :padding 0
      :vertical-align top
      :margin-top 6px
      :width 170px
      :padding-right 30px
    input.submit
      :position absolute
      :top 0px
      :border 1px solid #222
      :border-top 0
      :right 9px
      :padding 0
      :height 25px
      :width 25px
      
.advertisement
  :clear both
  :margin 10px auto
  :width 726px

.tall_advertisement
  :clear both
  :margin 0 auto
  :text-align center
  :background #DDD
  :color #666
  :padding-top 10px
  :text-transform uppercase
  :font-size 0.8em
  img
    :margin 10px
  
.info 
  :background-color #DDD
  :padding 10px
  :clear both
  :width 230px

.profile
  img
    :float left
    :margin-right 10px
  .name
    :font-size 18px
  
  
.groups
  :border-top 1px dashed #A9A9A9
  .group
    :width 615px
    :float left
    :clear both
    :padding 10px 0px
    :border-bottom 1px dashed #A9A9A9
    img
      :border 3px solid #CCC
      :float left
      :margin-right 10px
    h4      
      :width 479px
      :font-size 1.5em
      
.relative
  :position relative

.hanger
  :position absolute
  :bottom 50%
  :margin-bottom -25px
  :right 0
  
.thumb
  :float left
  :width 60px
  :height 60px
  :margin-left 1px

.smaller_thumb
  :float left
  :width 50px
  :height 50px
  :margin-left 1px

.with_bottom_margin
  :margin-bottom 10px
  
.activities
  :clear both
  :border-top 1px dashed #999
  .activity
    :float left
    :width 595px
    :padding 10px
    :border-bottom 1px dashed #999
    .thumb
      :width 60px
      :height 60px
      :margin-right 10px
      :border 3px solid #CCC

.home_top
  :float left
  :width 880px
  :margin-bottom 10px
  .advertisement
    :width 300px
    :float right
  .headline
    :margin 10px 0
    :word-spacing 0.3em
    :font-size 1.2em
    :float left
    :width 555px
    h1
      :margin-bottom 10px

.home_right
  :margin-top 20px
  :width 300px
  :float right
  :text-align center

.random_members
  :float left
  :margin-top 10px
  :background url(/images/random_members_top.png) top center no-repeat
  :width 467px
  :padding-top 9px
  .inner_content
    :float left
    :background url(/images/random_members_bottom.png) bottom center no-repeat
    :width 447px
    :padding 10px
    :padding-top 0
    .user
      :float left
      :margin-right 8px
      img
        :border 3px solid #999
    .hanger
      :top 5px
      :text-transform uppercase
      :font-size 0.7em
    h4
      :background url(/images/status_16.png) top left no-repeat
      :font-size 1.2em
      :padding-left 20px
      :border-bottom 1px solid #999
      :padding-bottom 10px
      :margin-bottom 10px

.honors
  :background url(/images/honors_top.png) top center no-repeat
  :width 402px
  :padding-top 9px
  .inner_content
    :background url(/images/honors_bottom.png) bottom center no-repeat
    :width 382px
    :padding 10px
    :padding-top 0
    h4
      :background url(/images/honors.png) top left no-repeat
      :font-size 1.2em
      :padding-left 20px
      :border-bottom 1px solid #999
      :padding-bottom 10px
      :margin-bottom 10px

.alert_type
  :border-bottom 1px solid #CCC
  :margin-top 10px
  :padding-bottom 2px
  
ul.activities_menu
  :font-weight bold
  :margin-bottom 10px
  li
    a
      :background url(/images/separator-black.gif) center left no-repeat
      :padding 0 3px 0 8px

.left
  :float left
  
.hidden
  :display none
  
.justify
  :text-align justify
  
.load_more
  :clear both
  :padding-top 10px
  
.follow_me_button
  :text-indent -9999px
  :overflow hidden
  :width 120px
  :height 36px
  :background url(/images/follow_me.png) top left no-repeat
  :display block
  :float left
  
.follow_me_button
  :text-indent -9999px
  :overflow hidden
  :width 120px
  :height 36px
  :background url(/images/follow_me.png) top left no-repeat
  :display block
  :float left

.message_button
  :text-indent -9999px
  :overflow hidden
  :width 120px
  :height 36px
  :background url(/images/message.png) top left no-repeat
  :display block
  :float left
  :margin-left 10px

.buttons
  :float left
  :margin 10px 0
  
.with_border
  :border 3px solid #CCC
  
.upload_post_button
  :margin-bottom 10px
  
.followers
  :margin-top 10px
  .thumb
    :width 50px
    :height 50px
    :border 3px solid #CCC


.bordered_image
  img
    :border 3px solid #CCC

.city_state
  :font-size 18px
  :font-weight bold
  :margin-bottom 10px

.class
  :font-weight bold

.greyboxes
  :margin-bottom 10px
  :float left
  :width 100%
  
.greybox
  :width 100px
  :height 55px
  :background url(/images/greybox.png) top left no-repeat
  :padding-top 17px
  :text-align center
  :font-size 15px
  :font-weight bold
  :float left
  :margin-right 10px
  
.users
  .user
    :float left
    :margin-right 10px
    :width 66px
    .thumb
      :border 3px solid #CCC

.member_info
  :color #999
  
.home_columns
  :float left
  :margin-left -10px
  :width 900px
  :border-top 10px solid #EEE
  :border-bottom 10px solid #EEE
  :margin-bottom 20px
  .column
    :border-left 1px dashed #999
    :float left
    :width 259px
    :padding 0 20px
    :margin 10px 0
    :text-align justify
  .first
    :border-left 0
    
.right
  :float right
  
.home_users
  .user
    :width 201px
    :float left
    :margin-right 10px