body {
  background-color: #222;
  font-family: Arial;
  font-size: 0.8em; }

p, h1, h2, h3, h4, h5, ul, form, img {
  padding: 0;
  margin: 0; }

.blue {
  color: #006FFF; }

a {
  outline: none;
  color: #006FFF;
  font-weight: bold;
  text-decoration: none; }
  a img {
    border: none; }

a:hover {
  text-decoration: underline; }

h2 {
  color: #006FFF;
  font-size: 3em; }

h3 {
  background-color: #BBB;
  padding: 5px 5px; }

h4 {
  font-size: 20px; }

h5 {
  color: #006FFF;
  text-transform: uppercase;
  border-bottom: 1px solid #DDD;
  padding-bottom: 7px;
  margin-bottom: 20px;
  font-size: 1.4em; }

h2.logo {
  text-indent: -99999px;
  background: url(/images/logo.png) top left no-repeat;
  width: 500px;
  height: 70px;
  float: left; }
  h2.logo a {
    width: 500px;
    height: 70px;
    display: block; }

ul.menu, ul.separated {
  list-style-type: none; }
  ul.menu li, ul.separated li {
    display: inline; }

#main {
  width: 900px;
  margin: 0 auto; }

.header {
  float: left;
  width: 900px;
  position: relative;
  margin-bottom: 10px; }

#content {
  width: 900px;
  background: url(/images/content_top.png) #FFF top center no-repeat;
  float: left;
  margin-bottom: 10px; }

#inner_content {
  width: 900px;
  padding-bottom: 15px;
  background: url(/images/content_bottom.png) center bottom no-repeat;
  float: left; }

.inner_content {
  clear: both;
  padding: 15px 10px; }

.inner_text {
  clear: both;
  padding: 10px 10px 0 10px;
  text-align: justify; }

.main {
  float: right;
  width: 635px; }

.details {
  float: left;
  width: 250px; }

.top, .column {
  padding-bottom: 0; }

.footer {
  clear: both;
  width: 900px;
  height: 56px;
  margin: 0 auto;
  background: url(/images/footer.png) top left no-repeat;
  color: #333;
  padding-top: 10px;
  text-align: center; }
  .footer .footer-left {
    clear: both; }
  .footer ul {
    margin: 5px 0; }
    .footer ul li {
      display: inline; }
      .footer ul li a {
        border-left: 1px solid #444;
        margin-left: 5px;
        padding-left: 7px; }
    .footer ul li.first a {
      border: none; }

.content {
  clear: both; }

.user_bar {
  position: absolute;
  bottom: 10px;
  right: 0;
  vertical-align: bottom; }
  .user_bar ul {
    text-transform: uppercase; }
    .user_bar ul li a {
      display: block;
      float: left;
      background: url(/images/separator.gif) center left no-repeat;
      padding: 0 5px 0 8px; }
    .user_bar ul li.first a {
      background: none; }

#navigation {
  height: 40px;
  background: url(/images/menu_bg.jpg) top left repeat-x;
  margin: 10px 0;
  border: 1px solid #444;
  line-height: 40px; }
  #navigation ul {
    float: left; }
    #navigation ul li {
      display: inline; }
      #navigation ul li a {
        color: #FFF;
        display: block;
        float: left;
        padding: 0 10px;
        border-right: 1px solid #444; }
      #navigation ul li a:hover {
        background: #111;
        text-decoration: underline;
        color: #026DFE; }

.search {
  float: right;
  position: relative; }
  .search form {
    float: right;
    background: #FFF;
    height: 25px;
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid #222;
    padding-left: 5px; }
    .search form input {
      outline: none;
      border: 0;
      height: 1.3em;
      padding: 0;
      vertical-align: top;
      margin-top: 6px;
      width: 170px;
      padding-right: 30px; }
    .search form input.submit {
      position: absolute;
      top: 0px;
      border: 1px solid #222;
      border-top: 0;
      right: 9px;
      padding: 0;
      height: 25px;
      width: 25px; }

.advertisement {
  clear: both;
  margin: 10px auto;
  width: 726px; }

.tall_advertisement {
  clear: both;
  margin: 0 auto;
  text-align: center;
  background: #DDD;
  color: #666;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 0.8em; }
  .tall_advertisement img {
    margin: 10px; }

.info {
  background-color: #DDD;
  padding: 10px;
  padding-bottom: 20px;
  clear: both;
  width: 230px; }
  .info ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .info ul li {
      color: #777;
      padding: 10px 5px;
      border-bottom: 1px dashed #BBB; }

.profile img {
  float: left;
  margin-right: 10px; }
.profile .name {
  font-size: 18px; }

.groups {
  border-top: 1px dashed #A9A9A9; }
  .groups .group {
    width: 605px;
    float: left;
    clear: both;
    padding: 10px 5px;
    border-bottom: 1px dashed #A9A9A9; }
    .groups .group img {
      border: 3px solid #CCC;
      float: left;
      margin-right: 10px; }
    .groups .group h4 {
      width: 479px;
      font-size: 1.5em; }

.relative {
  position: relative; }

.hanger {
  position: absolute;
  bottom: 50%;
  margin-bottom: -25px;
  right: 10px; }

.thumb {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 1px; }

.smaller_thumb {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 1px; }

.with_bottom_margin {
  margin-bottom: 10px; }

.activities {
  clear: both;
  border-top: 1px dashed #999; }
  .activities .activity {
    float: left;
    width: 595px;
    padding: 10px;
    border-bottom: 1px dashed #999; }
    .activities .activity .thumb {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border: 3px solid #CCC; }
  .activities .activity:hover {
    background-color: #EEE; }
    .activities .activity:hover .thumb {
      border: 3px solid #006FFF; }

.home_top {
  float: left;
  width: 880px;
  margin-bottom: 10px; }
  .home_top .advertisement {
    width: 300px;
    float: right; }
  .home_top .headline {
    margin: 10px 0;
    word-spacing: 0.3em;
    font-size: 1.2em;
    float: left;
    width: 555px; }
    .home_top .headline h1 {
      margin-bottom: 10px; }
    .home_top .headline p {
      line-height: 25px; }
      .home_top .headline p span {
        border-bottom: 1px solid #EEEEEE; }

.home_right {
  margin-top: 20px;
  width: 300px;
  float: right;
  text-align: center; }

.random_members {
  float: left;
  margin-top: 10px;
  background: url(/images/random_members_top.png) top center no-repeat;
  width: 467px;
  padding-top: 9px; }
  .random_members .inner_content {
    float: left;
    background: url(/images/random_members_bottom.png) bottom center no-repeat;
    width: 447px;
    padding: 10px;
    padding-top: 0; }
    .random_members .inner_content .user {
      float: left;
      margin-right: 8px; }
      .random_members .inner_content .user img {
        border: 3px solid #999; }
    .random_members .inner_content .hanger {
      top: 5px;
      text-transform: uppercase;
      font-size: 0.7em; }
    .random_members .inner_content h4 {
      background: url(/images/status_16.png) top left no-repeat;
      font-size: 1.2em;
      padding-left: 20px;
      border-bottom: 1px solid #999;
      padding-bottom: 10px;
      margin-bottom: 10px; }

.honors {
  background: url(/images/honors_top.png) top center no-repeat;
  width: 402px;
  padding-top: 9px; }
  .honors .inner_content {
    background: url(/images/honors_bottom.png) bottom center no-repeat;
    width: 382px;
    padding: 10px;
    padding-top: 0; }
    .honors .inner_content h4 {
      background: url(/images/honors.png) top left no-repeat;
      font-size: 1.2em;
      padding-left: 20px;
      border-bottom: 1px solid #999;
      padding-bottom: 10px;
      margin-bottom: 10px; }

.alert_type {
  border-bottom: 1px solid #CCC;
  margin-top: 10px;
  padding-bottom: 2px; }

ul.activities_menu {
  font-weight: bold;
  margin-bottom: 10px; }
  ul.activities_menu li a {
    background: url(/images/separator-black.gif) center left no-repeat;
    padding: 0 3px 0 8px; }

.left {
  float: left; }

.hidden {
  display: none; }

.justify {
  text-align: justify; }

.load_more {
  clear: both;
  padding-top: 10px; }

.follow_me_button {
  text-indent: -9999px;
  overflow: hidden;
  width: 120px;
  height: 36px;
  background: url(/images/follow_me.png) top left no-repeat;
  display: block;
  float: left; }

.follow_me_button {
  text-indent: -9999px;
  overflow: hidden;
  width: 120px;
  height: 36px;
  background: url(/images/follow_me.png) top left no-repeat;
  display: block;
  float: left; }

.message_button {
  text-indent: -9999px;
  overflow: hidden;
  width: 120px;
  height: 36px;
  background: url(/images/message.png) top left no-repeat;
  display: block;
  float: left;
  margin-left: 10px; }

.buttons {
  float: left;
  margin: 10px 0; }

.with_border {
  border: 3px solid #CCC; }

.upload_post_button {
  margin-bottom: 10px; }

.followers {
  margin-top: 10px; }
  .followers .thumb {
    width: 50px;
    height: 50px; }
    .followers .thumb img {
      border: 3px solid #CCC; }
    .followers .thumb a:hover img {
      border: 3px solid #006FFF; }

.bordered_image img {
  border: 3px solid #CCC; }

.city_state {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px; }

.class {
  font-weight: bold; }

.greyboxes {
  margin-bottom: 10px;
  float: left;
  width: 100%; }

.greybox {
  width: 100px;
  height: 55px;
  background: url(/images/greybox.png) top left no-repeat;
  padding-top: 17px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  float: left;
  margin-right: 10px; }

.users .user {
  float: left;
  margin-right: 10px;
  width: 66px; }
  .users .user .thumb {
    border: 3px solid #CCC; }

.member_info {
  color: #999; }

.home_columns {
  float: left;
  width: 900px;
  border-top: 10px solid #EEE;
  border-bottom: 10px solid #EEE; }
  .home_columns .column {
    border-left: 1px dashed #999;
    float: left;
    width: 259px;
    padding: 0 20px;
    margin: 10px 0;
    text-align: justify; }
  .home_columns .first {
    border-left: 0; }

.right {
  float: right; }

.home_users .user {
  width: 201px;
  float: left;
  margin-right: 10px; }

#upload_post_button {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  height: 36px;
  width: 230px;
  margin-bottom: 20px;
  text-indent: -99999px;
  overflow: hidden;
  background: url(/images/upload_post_button.png); }

#upload_post_button:hover {
  background-position: 0 -36px; }

#load_more {
  background: url(/images/load_more.png);
  width: 605px;
  height: 36px;
  display: block;
  overflow: hidden;
  text-indent: -9999px; }

#load_more:hover {
  background-position: 0 -36px; }

h1.bordered_title {
  text-align: center;
  border-bottom: 10px solid #eee;
  padding: 15px 0;
  font-size: 30px;
  margin-bottom: 15px; }

#new_user, #new_session, .edit_profile {
  width: 252px;
  margin: 0 auto; }
  #new_user fieldset, #new_session fieldset, .edit_profile fieldset {
    margin: 0;
    padding: 0;
    border: none;
    width: 100px; }
    #new_user fieldset legend, #new_session fieldset legend, .edit_profile fieldset legend {
      color: #026DFE;
      padding: 15px 0;
      font-size: 20px !important;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Helvetica; }
  #new_user .hint, #new_session .hint, .edit_profile .hint {
    z-index: 10000;
    display: none;
    position: absolute;
    top: 15px;
    left: 280px;
    width: 200px;
    text-align: justify;
    padding: 10px 10px 10px 35px;
    border: 1px solid #888;
    color: #333;
    font-family: Verdana;
    font-size: 12px;
    background: #EEEEEE url(/images/icons/signup_arrow.png) no-repeat scroll 10px 12px; }
  #new_user .submit_field, #new_session .submit_field, .edit_profile .submit_field {
    float: left;
    padding: 10px 0; }
    #new_user .submit_field input, #new_session .submit_field input, .edit_profile .submit_field input {
      float: left; }
    #new_user .submit_field span, #new_session .submit_field span, .edit_profile .submit_field span {
      line-height: 30px;
      margin: 7px 50px 0 15px; }
  #new_user .text_field, #new_user .password_field, #new_user .select_field, #new_user .file_field, #new_user .text_area, #new_session .text_field, #new_session .password_field, #new_session .select_field, #new_session .file_field, #new_session .text_area, .edit_profile .text_field, .edit_profile .password_field, .edit_profile .select_field, .edit_profile .file_field, .edit_profile .text_area {
    position: relative; }
    #new_user .text_field select, #new_user .text_field input, #new_user .password_field select, #new_user .password_field input, #new_user .select_field select, #new_user .select_field input, #new_user .file_field select, #new_user .file_field input, #new_user .text_area select, #new_user .text_area input, #new_session .text_field select, #new_session .text_field input, #new_session .password_field select, #new_session .password_field input, #new_session .select_field select, #new_session .select_field input, #new_session .file_field select, #new_session .file_field input, #new_session .text_area select, #new_session .text_area input, .edit_profile .text_field select, .edit_profile .text_field input, .edit_profile .password_field select, .edit_profile .password_field input, .edit_profile .select_field select, .edit_profile .select_field input, .edit_profile .file_field select, .edit_profile .file_field input, .edit_profile .text_area select, .edit_profile .text_area input {
      border: 1px solid #AAA;
      width: 260px;
      padding: 5px;
      font-size: 16px;
      margin-bottom: 15px; }
    #new_user .text_field input, #new_user .password_field input, #new_user .select_field input, #new_user .file_field input, #new_user .text_area input, #new_session .text_field input, #new_session .password_field input, #new_session .select_field input, #new_session .file_field input, #new_session .text_area input, .edit_profile .text_field input, .edit_profile .password_field input, .edit_profile .select_field input, .edit_profile .file_field input, .edit_profile .text_area input {
      width: 250px;
      height: 20px; }
    #new_user .text_field label, #new_user .password_field label, #new_user .select_field label, #new_user .file_field label, #new_user .text_area label, #new_session .text_field label, #new_session .password_field label, #new_session .select_field label, #new_session .file_field label, #new_session .text_area label, .edit_profile .text_field label, .edit_profile .password_field label, .edit_profile .select_field label, .edit_profile .file_field label, .edit_profile .text_area label {
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      color: #222;
      width: 250px; }
  #new_user .file_field input, #new_session .file_field input, .edit_profile .file_field input {
    height: 25px; }
  #new_user .text_area textarea, #new_session .text_area textarea, .edit_profile .text_area textarea {
    border: 1px solid #AAA;
    width: 400px;
    height: 150px; }
  #new_user .welldone .hint, #new_session .welldone .hint, .edit_profile .welldone .hint {
    background: #B6F394 url(/images/icons/signup_check.png) no-repeat scroll 10px 12px !important;
    border-color: #749E5C !important; }
  #new_user .kindagood .hint, #new_session .kindagood .hint, .edit_profile .kindagood .hint {
    background: #F9FDAB url(../images/icons/signup_excl.png) no-repeat scroll 10px 12px !important;
    border-color: #FDCC68 !important; }

.notify {
  background-color: #F9FDAB;
  border: 1px solid #FDCC68;
  padding: 10px;
  margin: 10px;
  text-align: justify; }

.fieldWithErrors label {
  color: red !important; }

.fieldWithErrors input {
  border: 1px solid red !important; }

#status_message {
  width: 600px;
  outline: none;
  padding: 5px;
  border: 1px solid #AAAAAA; }

#status_messageDown {
  float: right;
  margin-right: 15px;
  color: #777;
  font-weight: bold;
  font-size: 20px; }

.capital {
  text-transform: uppercase; }

.warningClass {
  color: red !important; }

#dashboard_nav {
  float: left;
  margin: 10px 0; }
  #dashboard_nav li {
    text-transform: uppercase;
    margin-right: 15px; }

#status_nav {
  padding-left: 21px;
  background: url(/images/icons/status_16.png) left center no-repeat; }

#picture_nav {
  padding-left: 21px;
  background: url(/images/icons/pictures_16.png) left center no-repeat; }

#video_nav {
  padding-left: 21px;
  background: url(/images/icons/videos_16.png) left center no-repeat; }

#audio_nav {
  padding-left: 21px;
  background: url(/images/icons/audio_16.png) left center no-repeat; }

#blog_nav {
  padding-left: 21px;
  background: url(/images/icons/blog_16.png) left center no-repeat; }

.pagination {
  clear: both;
  padding-top: 10px; }
  .pagination .disabled {
    display: none; }
  .pagination .current {
    color: #026DFE;
    font-size: 35px;
    font-weight: bold; }
  .pagination a {
    border: 3px solid #CCC;
    color: #333;
    padding: 2px 5px;
    top: -7px;
    position: relative; }
  .pagination a:hover {
    background: #CCC; }

ul {
  list-style-type: none; }

li.group:hover {
  background-color: #EEE; }
  li.group:hover img {
    border: 3px solid #026DFE; }
