body {
  background-color: #222;
  font-family: Arial;
  font-size: 0.8em; }

p, h1, h2, h3, h4, ul, form, img {
  padding: 0;
  margin: 0; }

.blue {
  color: #006FFF; }

a {
  outline: none;
  color: #006FFF;
  text-decoration: none; }
  a img {
    border: none; }

h2 {
  color: #006FFF;
  font-size: 3em; }

h3 {
  background-color: #BBB; }

h4 {
  font-size: 2em; }

h2.logo {
  text-indent: -99999px;
  background: url(/images/logo.png) top left no-repeat;
  width: 500px;
  height: 70px;
  float: left; }
  h2.logo a {
    width: 500px;
    height: 70px;
    display: block; }

ul.menu, ul.separated {
  list-style-type: none; }
  ul.menu li, ul.separated li {
    display: inline; }

#main {
  width: 900px;
  margin: 0 auto; }

.header {
  float: left;
  width: 900px;
  position: relative;
  margin-bottom: 10px; }

#content {
  width: 900px;
  background: url(/images/content_top.jpg) #FFF top center no-repeat;
  float: left;
  margin-bottom: 10px; }

#inner_content {
  width: 880px;
  background: url(/images/content_bottom.jpg) center bottom no-repeat;
  padding: 15px 10px;
  float: left; }

.inner_content {
  margin-bottom: 10px; }

.main {
  float: right;
  width: 615px; }

.details {
  float: left;
  width: 250px; }

.top {
  margin-bottom: 10px; }

.footer {
  clear: both;
  width: 900px;
  height: 56px;
  margin: 0 auto;
  background: url(/images/footer.jpg) top left no-repeat;
  color: #333;
  padding-top: 10px;
  text-align: center; }
  .footer .footer-left {
    clear: both; }
  .footer ul {
    margin: 5px 0; }
    .footer ul li {
      display: inline; }
      .footer ul li a {
        border-left: 1px solid #444;
        margin-left: 5px;
        padding-left: 7px; }
    .footer ul li.first a {
      border: none; }

.content {
  clear: both; }

.user_bar {
  position: absolute;
  bottom: 10px;
  right: 0;
  vertical-align: bottom; }
  .user_bar ul {
    text-transform: uppercase; }
    .user_bar ul li a {
      display: block;
      float: left;
      background: url(/images/separator.gif) center left no-repeat;
      padding: 0 5px 0 8px; }
    .user_bar ul li.first a {
      background: none; }

#navigation {
  height: 40px;
  background: url(/images/menu_bg.jpg) top left repeat-x;
  margin: 10px 0;
  border: 1px solid #444;
  line-height: 40px; }
  #navigation ul {
    float: left; }
    #navigation ul li {
      display: inline; }
      #navigation ul li a {
        color: #FFF;
        display: block;
        float: left;
        padding: 0 10px;
        border-right: 1px solid #444; }

.search {
  float: right;
  position: relative; }
  .search form {
    float: right;
    background: #FFF;
    height: 25px;
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid #222;
    padding-left: 5px; }
    .search form input {
      outline: none;
      border: 0;
      height: 1.3em;
      padding: 0;
      vertical-align: top;
      margin-top: 6px;
      width: 170px;
      padding-right: 30px; }
    .search form input.submit {
      position: absolute;
      top: 0px;
      border: 1px solid #222;
      border-top: 0;
      right: 9px;
      padding: 0;
      height: 25px;
      width: 25px; }

.advertisement {
  margin: 10px auto;
  width: 726px; }

.tall_advertisement {
  margin: 0 auto;
  text-align: center;
  background: #DDD;
  color: #666;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 0.8em; }
  .tall_advertisement img {
    margin: 10px; }

.info {
  background-color: #DDD;
  padding: 10px; }

.groups {
  border-top: 1px dashed #A9A9A9; }
  .groups .group {
    width: 615px;
    float: left;
    clear: both;
    padding: 10px 0px;
    border-bottom: 1px dashed #A9A9A9; }
    .groups .group img {
      border: 3px solid #CCC;
      float: left;
      margin-right: 10px; }
    .groups .group h4 {
      width: 479px;
      font-size: 1.5em; }

.relative {
  position: relative; }

.hanger {
  position: absolute;
  bottom: 50%;
  margin-bottom: -25px;
  right: 0; }

.thumb {
  float: left;
  margin-left: 1px; }

.activities {
  border-top: 1px dashed #999; }
  .activities .activity {
    float: left;
    width: 595px;
    padding: 10px;
    border-bottom: 1px dashed #999; }
    .activities .activity .thumb {
      width: 60px;
      height: 60px;
      margin-right: 10px;
      border: 3px solid #CCC; }

.home_top {
  float: left;
  width: 880px;
  margin-bottom: 10px; }
  .home_top .advertisement {
    width: 300px;
    float: right; }
  .home_top .headline {
    text-align: justify;
    font-size: 1.2em;
    float: left;
    width: 555px; }
    .home_top .headline h1 {
      margin-bottom: 10px; }

.home_left {
  width: 467px;
  float: left; }

.home_right {
  width: 402px;
  float: right; }

.random_members {
  margin-top: 10px;
  background: url(/images/random_members_top.png) top center no-repeat;
  width: 467px;
  padding-top: 9px; }
  .random_members .inner_content {
    background: url(/images/random_members_bottom.png) bottom center no-repeat;
    width: 447px;
    padding: 10px;
    padding-top: 0; }
    .random_members .inner_content .user img {
      border: 3px solid #999; }
    .random_members .inner_content .hanger {
      top: 5px;
      text-transform: uppercase;
      font-size: 0.7em; }
    .random_members .inner_content h4 {
      background: url(/images/status_16.png) top left no-repeat;
      font-size: 1.2em;
      padding-left: 20px;
      border-bottom: 1px solid #999;
      padding-bottom: 10px;
      margin-bottom: 10px; }

.honors {
  background: url(/images/honors_top.png) top center no-repeat;
  width: 402px;
  padding-top: 9px; }
  .honors .inner_content {
    background: url(/images/honors_bottom.png) bottom center no-repeat;
    width: 382px;
    padding: 10px;
    padding-top: 0; }
    .honors .inner_content h4 {
      background: url(/images/honors.png) top left no-repeat;
      font-size: 1.2em;
      padding-left: 20px;
      border-bottom: 1px solid #999;
      padding-bottom: 10px;
      margin-bottom: 10px; }
