body { 
	margin: 0;
	background: #000 url(images/home/pyoshowcase.jpg) top center no-repeat; 
	text-align: center;
	}

body, td, tr, div {
	font-family: Arial;
	font-size: 14px;
	color: #222;
	letter-spacing: 0px;
	line-height: 22px;
	}

#links {
	margin: 0 auto;
	margin-top: 50px;
	width: 800px;
	height: 70px;
	}

#links ul {
	margin: 0 auto;
	margin-left: 40px;
	padding: 0;
	list-style: none;
	}

#links li {
	margin: 0;
	padding: 0;
	display: inline;
	}

#links li a {
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	margin: 0;
	padding: 10px;
	display: block;
	float: left;
	background: #000;
	border: 3px solid #000;
	}

#links li a:hover {
	background: #0241d2;
	color: #fff;
	border: 3px solid #fff;
	}

#showcase {
	margin: 0 auto;
	padding-top: 15px;
	margin-top: 500px;
	width: 800px;
	height: 400px;
	}
	
.join {
	margin: 0 auto;
	width: 263px;
	height: 113px;
	}

.join img {
	background: url(images/home/join-1.png);
	}

.join img:hover, .join img.hover {
	background: url(images/home/join-2.png);
	}

.signin {
	margin: 0 auto;
	margin-top: 150px;
	width: 239px;
	height: 53px;
	}

.signin img {
	background: url(images/home/signin-1.png);
	}

.signin img:hover, .signin img.hover {
	background: url(images/home/signin-2.png);
	}

#footer {
	margin: 70px 0 20px 0;
	}

#footer p a {
	color: #012cf6;
	font-weight: bold;
	}

#footer p a:hover {
	color: #fff;
	}