@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
  	background: #000 url(images/bg.jpg) top center no-repeat;
  	font-family: Helvetica, Arial;
  	font-size: 12px;
	text-align: center;
	color: #333;
	line-height: 17px;
  	}


p, h1, h2, h3, h4, h5, ul, form, img, div {
 	padding: 0;
 	margin: 0;
  	}
  
body a {
  	outline: none;
  	color: #006FFF;
  	font-weight: bold;
  	text-decoration: none;
  	}
  
body a img { border: none; }

body a:hover { text-decoration: underline;  }
 
#wrapper { width: 100%; }

.invisibleline {
	clear: both;
	width: 900px;
	height: 1px;
	}

.clear {
	clear: both;
	width: 100%;
	height: 1px;
	}

/* WEBSITE
================================================*/
#website {
	margin: auto;
	width: 900px;
	background: #fff;
	text-align: left;
	}

/* HEADER
================================================*/
#top-bar {
	width: 100%;
	height: 80px;
	background: url(images/top-bar.gif) top left repeat-x;
	}

#inner-top-bar {
	margin: auto;
	width: 900px;
	}

#logo {
	width: 428px;
	height: 80px;
	background: url(images/logo.gif) top left no-repeat;
	}

#header {
	width: 900px;
	border-bottom: 1px solid #ccc;
	}

.userpanel {
	width: 0-0px;
	height: 50px;
	border-bottom: 1px solid #ccc;
	}

.userpanel a {
	font-family: Verdana;
	color: #000;
	text-decoration: none;
	font-size: 16px;
	}

.userpanel a:hover {
	color: #006fff;
	text-decoration: none;
	}

#pyo {
	margin: auto;
	border-top: 1px solid #ccc;
	padding: 10px 0 0 0;
	width: 880px;
	}

.nav-search {
	width: 880px;
	height: 50px;
	padding: 10px 0 0 0;
	border-bottom: 1px solid #ccc;
	}

/* HEADER - USER PANEL
================================================*/
.panel-user {
	margin-top: 7px;
	border-right: 1px solid #ccc;
	float: left;
	padding: 5px 10px 5px 0;
	}

.panel-user img,
.panel-post img {
	margin: 0 5px 0 0;
	float: left;
	}

.panel-links {
	margin-top: 7px;
	float: left;
	padding: 0 0 5px 10px;
	}

.panel-links a { font-size: 12px; }

.panel-links img { margin: 0 5px 0 0; }

.panel-links span {
	position: relative;
	top: -4px;
	}

.panel-links-left {
	margin: 0 10px 0 0;
	float: left;
	width: 110px;
	height: 40px;
	}

.panel-links-right {
	float: left;
	width: 130px;
	height: 40px;
	}

.panel-post {
	margin-top: 10px;
	float: left;
	padding: 5px 0 5px 10px;
	border-left: 1px solid #ccc;
	}

/* TOP USER PANEL
================================================*/
.top-user-panel {
	padding: 10px;
	width: 880px;
	height: 30px;
	background: #eee;
	font-family: Verdana;
	}

.tup-name { margin: -4px; }

.tup-name span {
	font-size: 18px;
	position: relative;
	top: -7px;
	font-weight: normal;
	}

.tup-name a {
	float: left;
	text-decoration: none;
	display: block;
	padding: 5px 5px 2px 5px;
	color: #000;
	}

.tup-name a:hover {
	background: #ccc;
	color: #000;
	text-decoration: none;
	}

.tup-name img {
	border: 1px solid #fff;
	width: 25px;
	height: 25px;
	}

.tup-options {
	margin: -10px 0 0 30px;
	padding: 5px 0 0 5px;
	float: left;
	width: 200px;
	height: 40px;
	}

.tup-options a {
	text-transform: uppercase;
	width: 100px;
	color: #000;
	display: block;
	float: left;
	font-size: 10px;
	}

.tup-inbox a, .tup-logout a { width: 80px; }

.tup-options a:hover,
.tup-upload a:hover {
	text-decoration: none;
	color: #006fff;
	}

.tup-options span {
	position: relative;
	top: -2px;
	}

.tup-upload {
	margin: -10px 0 0 10px;
	padding: 5px 0 0 5px;
	float: left;
	width: 360px;
	height: 40px;
	}

.tup-upload a {
	text-transform: uppercase;
	color: #000;
	display: block;
	float: left;
	width: 140px;
	font-size: 10px;
	}

.tup-video a { width: 120px; }

.tup-music a { width: 120px; }

.tup-blog a {
	margin-top: -19px;
	margin-left: 10px;
	width: 90px;
	}

/* PYO
================================================*/
.leaderboard-top {
	margin: auto;
	padding: 10px 0 10px 0;
	width: 728px;
	height: 90px;
	background: #fff;
	}

#pyo {
	}

#pyo #nav {
	margin: auto;
	width: 878px;
	background: #e2e2e2 url(images/navbg.gif) top left repeat-x;
	height: 38px;
	border: 1px solid #aaa;
	}

#pyo #nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}

#pyo #nav li {
	margin: 0;
	padding: 0;
	display: inline;
	height: 38px;
	}
	
#pyo #nav li a {
	padding: 11px 10px 0 10px;
	display: block;
	float: left;
	border-right: 1px solid #aaa;
	height: 27px;
	color: #000;
	}

#pyo #nav li a:hover {
	background: #bbb;
	color: #000;
	}

#pyo #inner_content {
	border-top: 1px solid #ccc;
	margin: 10px 0 0 0;
	width: 880px;
	}

/* PYO - COLUMNS
================================================*/
table.columns {
	margin: 10px 0 0 0;
	padding: 0;
	}

td#side_bar {
	width: 320px;
	background: #eee;
	border: 1px solid #ddd;
	}

.ad-300 {
	margin: 10px 0 0 10px;
	width: 300px;
	height: 250px;
	background: #eee;
	}

td#content {
	padding: 0 0 0 5px;
	width: 540px;
	}

/*PYO - COLUMNS (CSS)
================================================*/
#columns {
	clear: both;
	margin: 10px 0 0 0;
	padding: 0;
	}

#column_left {
	float: left;
	width: 560px;
	}

.main-left {
	width: 560px;
	padding: 10px 0 0 0;
	}

#column_right {
	float: left;
	width: 320px;
	}

/* DASHBOARD
================================================*/
.dash-image {
	padding: 25px 0 10px 25px;
	font-size: 16px;
	}

.dash-image a { color: #000; }

.dash-image p { margin: 2px; }

.dash-image img {
	float: left;
	margin: 0 10px 0 0;
	}

.dash-image span {
	font-size: 12px;
	font-weight: bold;
	}

.dash-image span a { color: #006fff; }

.dash-options { padding: 0 0 10px 0; }
	
.dash-options ul.children { margin: 0; }

.dash-options ul {
	width: 250px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0;
	list-style: none;
	}

.dash-options ul.children {
	margin: 0 0 15px 0;
	width: 75%;
	}

.dash-options li {
	width: 250px;
	height: 40px;
	margin: 0;
	padding: 0;
	}

.dash-options li span { color: #000; }

.dash-options ul.children li {
	width: 100%;
	height: 20px;
	margin: 0 0 5px 0;
	padding: 0;
	}

.dash-options li img {
	margin: 0 5px 0 0;
	}

.dash-options li span {
	position: relative;
	top: -10px;
	}

.dash-options ul.children li span { top: -3px; }

.dash-options li a {
	padding: 5px 0 0 5px;
	border-top: 1px solid #ccc;
	width: 245px;
	height: 35px;
	display: block;
	font-weight: normal;
	color: #333;
	font-size: 14px;
	}
	
.dash-options li a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #000;
	background: #ddd;
	}

.dash-options ul.children li a {
	padding: 8px;
	border: none;
	width: 100%;
	height: 14px;
	display: block;
	font-weight: normal;
	color: #333;
	font-size: 12px;
	}

.dash-options ul.children li.current a {
	font-weight: bold;
	color: #000;
	}

.dash-options ul.children li a:hover,
.dash-options ul.children li a.selected {
	font-weight: bold;
	color: #000;
	background: #ddd;
	}
	
/* INBOX
================================================*/
table.inbox_messages {
	margin: 10px 0 0 0;
	}
	
table.inbox_messages td.user {
	width: 180px;
	padding: 10px 0 10px 0;
	}

table.inbox_messages td.message {
	width: 260px;
	}

table.inbox_messages td.actions {
	width: 60px;
	padding: 0;
	}

table.inbox_messages td.user img {
	margin: 0 10px 0 0;
	float: left;
	}

table.inbox_messages tr  td {
	border-bottom: 1px dotted #bbb;
	padding: 10px;
	}

ul.inbox-buttons {
	width: 530px;
	height: 20px;
	margin: 0;
	padding: 10px 0 13px 10px;
	background: #eee;
	}

ul.inbox-buttons li {
	display: inline;
	list-style: none;
	}

ul.inbox-buttons li a {
	margin: 0 20px 0 0;
	float: left;
	display: block;
	padding: 3px;
	}

ul.inbox-buttons li a:hover,
ul.inbox-buttons li.current a {
	background: #bbb;
	color: #000;
	}

h2.inbox-show span {
	font-size: 16px;
	font-weight: normal;
	}

h2.inbox-show a { color: #000; }

.view-message {
	margin: 10px 0 0 0;
	width: 540px;
	}

.message-thumb {
	margin: 0 10px 0 0;
	float: left;
	width: 80px;
	}

.message-body {
	float: left;
	width: 445px;
	}

.message-body p {
	padding: 5px;
	margin: 5px;
	}

.message-body span.date { font-weight: bold; }

textarea#direct_message_message { 
	width: 435px;
	border: 1px solid #;
	font-size: 12px;
	font-family: "Lucida Grande", Verdana, Arial;
	padding: 5px;
	}

input#direct_message_submit {
	float: right;
	margin: 5px 0 0 0;
	width: 50px;
	height: 25px;
	background: url(images/post.gif) top left no-repeat;
	border: 1px solid #05216a;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;	
	}

input#direct_message_submit:active {
	background-color: #1b63d4;
	background-image: none;
	}
	
/* PROFILE
================================================*/
.prof-lastupdate {
	width: 875px;
	padding: 0 0 0 5px;
	}

.prof-lastupdate h2 {
	font-size: 35px;
	margin: 15px 0 5px 0;
	padding: 0;
	color: #006fff;
	}

.prof-lastupdate h2 span {
	font-size: 18px;
	color: #333;
	font-weight: normal;
	line-height: 25px;
	}

.prof-lastupdate h2 a {
	font-family: Helvetica;
	}

.prof-status-update a {
	font-weight: normal;
	color: #888;
	}

.prof-status-update img {
	margin: 0 5px 0 0;
	}

.prof-status-update span {
	position: relative;
	top: -3px;
	}
	
.prof-joined {
	margin: 5px 0 0 0;
	width: 875px;
	padding: 0 0 10px 5px;
	color: #555;
	}

.prof-image {
	padding: 30px 0 10px 35px;
	}

.prof-left-top-bar {
	margin: auto;
	width: 260px;
	height: 50px;
	}

.prof-follow {
	float: left;
	width: 120px;
	}

.prof-message {
	float: left;
	width: 140px;
	}

.prof-follow img {
	width: 120px;
	height: 50px;
	background: url(images/button_follow.gif) no-repeat;
	}
	
.prof-message img {
	width: 140px;
	height: 50px;
	background: url(images/button_message.gif) no-repeat;
	}

.prof-acts img {
	width: 75px;
	height: 50px;
	background: url(images/button-actions.gif) no-repeat;
	}

.prof-follow img:hover, .prof-message img:hover, .prof-acts img:hover {
	background-position: center left;
	}

.prof-follow img:active, .prof-message img:active, .prof-acts img:active {
	background-position: bottom left;
	}

ul.admin-controls {
	margin: 0 0 0 10px;
	width: 300px;
	}

ul.admin-controls li {
	width: 300px;
	}

ul.admin-controls li a {
	display: block;
	padding: 5px;
	}

ul.admin-controls li a:hover {
	background: #ccc;
	color: #000;
	}

.prof-info {
	clear: both;
	margin: auto;
	padding: 10px 0 10px 0;
	width: 250px;
	font-size: 14px;
	line-height: 19px;
	}

.prof-followers {
	font-size: 16px;
	line-height: 21px;
	margin: auto;
	width: 250px;
	height: 50px;
	}

.prof-followers a:hover {
	text-decoration: none;
	}

.prof-followers a span {
	font-weight: normal;
	color: #333;
	}

.prof-followers a:hover span {
	color: #006fff;
	}

.prof-media {
	padding: 0 0 10px 0;
	}

.prof-media ul {
	width: 250px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0;
	list-style: none;
	}

.prof-media li {
	width: 250px;
	height: 40px;
	margin: 0;
	padding: 0;
	}

.prof-media li img {
	margin: 0;
	}

.prof-media li span {
	position: relative;
	top: -10px;
	}

.prof-media li a {
	padding: 5px 0 0 5px;
	border-top: 1px solid #ccc;
	width: 245px;
	height: 35px;
	display: block;
	font-weight: normal;
	color: #333;
	font-size: 14px;
	}

.prof-media li a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #000;
	background: #ddd;
	}

.prof-following {
	width: 250px;
	margin: auto;
	padding: 10px 0 10px 0;
	}

.prof-following h3,
.prof-bio h3, .sub_info h3 {
	margin: 0 0 5px 0;
	border-bottom: 1px solid #ccc;
	padding: 5px 5px 5px 0;
	}

.followings img {
	margin: 5px 5px 0 0;
	float: left;
	width: 45px;
	}

.prof-bio, .sub_info {
	width: 250px;
	margin: auto;
	clear: both;
	padding: 20px 0 10px 0;
	text-align: justify;
	}

.sub_info ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}

.sub_info li {
	margin: 0;
	padding: 0;
	}

.sub_info li a {
	display: block;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
	}

.sub_info li a:hover {
	background: #e0e0e0;
	}

.comment {
	width: 540px;
	clear: both;
	border-bottom: 1px dotted #bbb;
	padding: 10px 0; 
	}

.comment .thumb_info {
	width: 50px;
    float: left;
	margin: 0 10px 0 0;
	}

.comment .thumb_info img {
	width: 50px;
	}

.comment .comment_message {
	width: 480px;
    float: left;
	}

.comment .comment_message p {
	text-align: justify;
	}

.threaded_comment form {
 	display: none; 
	}

.threaded_comment .comment {
  	width: 100%; 
	}

textarea#comment_message {
	width: 530px;
	height: 100px;
	font-family: "Lucida Grande", Verdana, Arial;
	font-size: 12px;
	padding: 5px;
	}

input#comment_submit {
	float: right;
	margin: 5px 0 0 0;
	width: 110px;
	height: 25px;
	background: url(images/post_comment.gif) top left no-repeat;
	border: 1px solid #05216a;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	}

input#comment_submit:active {
	background-color: #1b63d4;
	background-image: none;
	}
	
/* PEOPLE
================================================*/
.users {
	clear: both;
	margin: 5px 0 0 0;
	width: 540px;
	}

.follower {
	clear: both;
	border-bottom: 1px dotted #bbb;
	padding: 10px 7px 10px 7px;
	height: 50px;
	}

.follower img {
	float: left;
	margin: 0 10px 0 0;
	width: 50px;
	}

.user_name {
	font-size: 14px;
	font-weight: bold;
	}

.class {
	color: #006fff;
	}

/* PROFILE / DASHBOARD
================================================*/
.prof-activity,
.prof-pics, .prof-vids,
.prof-songs, .prof-comments,
.main {
	clear: both;
	margin: 10px 0 20px 0;
	width: 540px; 
	}

.dash-activity-title {
	width: 540px;
	height: 35px;
	border-bottom: 1px solid #ccc;
	font-family: Verdana;
	}

.prof-activity-title {
	clear: both;
	width: 540px;
	height: 25px;
	border-bottom: 1px solid #ccc;
	font-family: Verdana;
	}

.dash-activity-title img,
.prof-activity-title img {
	float: left;
	margin: 0 10px 0 0;
	}

.prof-activity-title img {
	margin: 0 5px 0 0;
	width: 20px;
	}

.dash-activity-title h2,
.prof-activity-title h2 {
	width: 540px;
	height: 35px;
	float: left;
	color: #000;
	margin: 0;
	}

.prof-activity-title h2 {
	font-size: 18px !important;
	height: 20px;
	}

.dash-activity-title h2 span {
	position: relative;
	top: 5px;
	font-size: 20px;
	}

.dash-activity-title p,
.prof-activity-title p {
	margin: 5px 0 0 0;
	padding: 0;
	float: right;
	font-size: 10px;
	}

.dash-activity-title p a,
.prof-activity-title p a {
	color: #000;
	}

.prof-photos, .prof-videos,
.prof-music, .prof-comments {
	clear: both;
	margin: 10px 0 0 0;
	width: 540px;
	}

.prof-photos .prof-photo_thumb img.profile_photo,
.prof-videos .video img {
	margin: 10px 5px 0;
	width: 95px;
	float:left;
	}

.prof-videos .video img {
	width: 165px;
	}

.prof-music ul, .prof-tweets ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}

.prof-music li {
	width: 165px;
	height: 35px;
	overflow: hidden;
	margin: 10px 0 0 10px;
	padding: 0;
	float: left;
	font-size: 14px;
	}

.prof-music li img {
	float: left;
	}
	
li.profile_tweet {
	border-bottom: 1px dotted #bbb;
	padding: 10px 7px 10px 7px;
	}

li.profile_tweet img {
	float: left;
	margin: 0 5px 0 0;
	}

a.tweet_status {
	color: #000;
	}

.dash-update {
	margin: 10px 0 0 0;
	width: 520px;
	background: #eee;
	padding: 10px;
	border-bottom: 3px solid #777;
	}

.dash-update h4 {
	float: left;
	margin: 0 0 10px;
	padding: 0;
	font-size: 16px;
	font-style: italic;
	color: #777;
	}

.dash-update span#status_messageDown {
	float: right;
	color: #ccc;
	}

.dash-update textarea#status_message {
	width: 510px;
	font-family: "Lucida Grande", Verdana, Arial;
	font-size: 12px;
	}

.dash-update input.submit {
	float: right;
	margin: 5px 0 0 0;
	width: 50px;
	height: 25px;
	background: url(images/post.gif) top left no-repeat;
	border: 1px solid #05216a;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	}

.dash-update input.submit:active {
	background-color: #1b63d4;
	background-image: none;
	}

.activity {
	clear: both;
	border-bottom: 1px dotted #bbb;
	padding: 10px 7px 10px 7px;
	}

.activity .thumb {
	float: left;
	width: 50px;
	margin: 0 10px 0 0;
	}

.activity .activity_detail {
	float: left;
	width: 465px;
	margin: 0;
	}

.activity_detail p {
	text-align: justify;
	}

.activity-desc { color: #666; }

.reg { color: #333; }

.page-title {
	width: 540px;
	height: 35px;
	border-bottom: 1px solid #ccc;
	font-family: Verdana;
	}

.page-title img {
	float: left;
	margin: 0 10px 0 0;
	}

.page-title h2 {
	width: 540px;
	height: 35px;
	float: left;
	color: #000;
	font-size: 20px;
	margin: 0;
	}

.page-title h2 span {
	position: relative;
	top: 5px;
	}

.page-title p {
	margin: 5px 0 0 0;
	padding: 0;
	float: right;
	font-size: 10px;
	}

p.act_time {
	padding: 0;
	margin: 0;
	font-size: 11px;
	}

.act_time span {
	color: #aaa;
	font-size: 11px;
	}

.act_time span a {
	color: #aaa;
	font-weight: normal;
	}

.act_time a.blend {
	color: #222;
	}

.activity a {
	font-size: 13px;
	}

span.act-comment {
	color: #333;
	}

#load_more {
	padding: 10px;
	text-align: center;
	display: block;
	background: url(images/load_more.gif) top left repeat-x;
	border-top: 1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #ddd;
  	width: 525px;
	font-size: 14px;
	}

#load_more:hover {
	border: 1px solid #bbb;
	background-image: none;
	background-color: #eee;
}

/* USER MEDIA
================================================*/
.top-media-user-info {
	width: 875px;
	height: 60px;
	padding: 5px 0 0 0
	}

.top-media-user-pic {
	margin: 0 10px 0 0;
	float: left;
	width: 60px;
	height: 60px;
	}

.top-media-user-pic img {
	width: 60px;
	height: 60px;
	}

.top-media-user-details h2 {
	margin: 0 0 5px 0;
	color: #000;
	font-size: 20px !important;
	}

.top-media-user-details h2 img {
	width: 20px;
	}

.photo_thumb, .video_thumb {
	float: left;
	margin: 0 10px 10px 0;
	width: 130px;
	}

.video_thumb {
	margin-right: 20px;
	width: 160px;
	height: 160px;
	}

.photo_thumb img {
	width: 130px;
	}

.video_thumb img {
	width: 160px;
	}