=# image_tag current_user.profile.avatar.url(:profile)
%h2
  = h @group.name
%p
  = h @group.description
%p
  = button_to "edit", edit_group_path(@group), :method => :get if current_user.andand.is_admin?(@group)
  = join_or_leave_btn @group, current_user