.info.left
  %h3 Group Info
  %h3 Group Admins
  - @admins.each do |admin|
    = link_to admin.name, admin
    (#{admin.role_in(@group).titleize})
  %h3 Group Members
  .members
    - @members.each do |member|
      .thumb= link_to image_tag(member.profile.avatar.url(:thumb), :class => 'thumb'), member