.main
  .inner_content
    %h2 Editing Group

    - form_for(@group) do |form|
      = render :partial => 'form', :locals => {:form => form}
      %p= form.submit 'Update'

.details
  .inner_content
    = render :partial => "groups/info"
  .inner_content
    = render :partial => "shared/advertisment"
