.main  
  .inner_content
    %h4.title Request New Group

    - form_for(@group, :html=>{:multipart=>true}) do |form|
      = render :partial => 'form', :locals => {:form => form}
      %p= form.submit "Send Request"
 
.details
  .inner_content
    = render :partial => "users/info"

  .inner_content
    = render 'shared/tall_advertisement'