.main  
  %h2 
    = "Members"
  - unless @group.users.empty?
    .inner_content
      - for user in @group.users
        .group_member_thumb
          %strong
            = link_to(image_tag(user.profile.avatar.url(:thumb)), user_path(user))
  - else
    %strong No members yet.
.details
  .inner_content
    = render :partial => "groups/info"

  .inner_content
    .advertisement
      Advertisement
