<!-- BEGIN COLUMNS -->
<table class="columns" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" id="content" class="column_right">
            
        <!-- BEGIN USER ACTIVITY -->
        <div class="prof-activity">
	
          <div class="prof-activity-title">
          <h2><%= image_tag "ico_left-feed.png" %> <span>Activity Feed</span></h2>
          </div>

            <p>Activity Feed Down for Maintenance...</p>
        
        </div>
        <!-- /END USER ACTIVITY -->
  
      </td>
      <td valign="top" id="side_bar" class="column_left">
	
        <%= render "users/info" %>

      </td>
    </tr>
  </tbody>
</table>
<!-- /END COLUMNS -->