		<% if @user.suspended? %>
		  <p>This user has been suspended.</p>
		  <% if current_user.super_user? %>
		    <%= link_to "Restore this User", restore_user_path(@user), :method => :put %>
		  <% end %>

		<% else %>
		
		<%= render "users/public_top" %>

<!-- BEGIN COLUMNS -->
<table class="columns" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" id="content" class="column_left">

        <!-- BEGIN PROFILE -->
        <div class="main">
	
			

        </div>
        <!-- /END PROFILE -->

      </td>
      <td valign="top" id="side_bar" class="column_right">
		
		<%= render "users/public_info" %>

      </td>
    </tr>
  </tbody>
</table>
<!-- /END COLUMNS -->

<div style="clear:both;float:right;padding:10px 10px 0 0;">
<%= link_to '[ X ] CLICK HERE TO UNFOLLOW THIS PROFILE', unfollow_user_path(@user), :method => :post %>
</div>

<% end %>