<div id="pyo-left">
			
			<!-- PROFILE TABS -->
			<ul class="profile-main-tabs">
			<li class="active"><a href="profile.php"><span>Profile</span></a></li>
			<li><a href="profile.php?info"><span>More Info</span></a></li>
			<li><a href="profile.php?pictures"><span>Pictures</span></a></li>
			<li><a href="profile.php?videos"><span>Videos</span></a></li>
			</ul>
			<!-- /PROFILE TABS -->
			
			<!-- PROFILE (MAIN) BOX -->
<div class="profile-main-box">

<div class="pmb-top">
	
	<div class="pmb-top">
	
	<!-- PROFILE PICTURE -->
	<div class="profile-pic">
	<img src="av/prof/7.jpg">
	</div>
	<!-- PROFILE PICTURE -->
	
	<!-- USER INFO -->
	<div class="user-info">
		
		<h2>Daniel Middleton</h2>
	
		<div class="short-bio">
			 Lorem ipsum dolor sit amet, maiores ornare ac fermentum imperdiet ut vivamus a nam lectus at unc. (Optional "short bio" -- up to 150 chars)
		</div>
	
		<div class="industry">
			<a href="class.php">Web Developer</a> ( <a href="industry.php" title="Find more people in this industry">Internet Industry</a> )<br>
			<span>The websites I build kick major butt.</span>
		</div>
	
		<div class="user-info-left">	
			<div class="location">
				<span>Baltimore, Maryland</span>
			</div>
		</div>
		
		<div class="user-info-right">
			<div class="profile-follow">
				<a href="#"><img border="0" alt="" src="images/spacer.gif"></a>
			</div>
		</div>
		
		<div class="clear"></div>
	
	</div> 
	<!-- USER INFO -->
	
</div>	
</div>
	
		<div class="pmb-bottom">
	
	<dl>
		<dt>Experience</dt>
		<dd>
			<ul>
			<li><span class="current">Owner &amp; CEO at Indie Developers <span class="sum_gr">(2008 - Today)</span></span></li>
			<li><span>Senior Developer at Infusion Design Studio</span> (2006 - 2008)</li>
			<li><span>Programmer at Compco</span> (2002 - 2006)</li>
			</ul>
			<div class="clear"></div>	
		</dd>
		
		<dt>Education</dt>
		<dd>
			<ul>
			<li><span>Graduated from Vanderbilt University</span> (Class of 2006)</li>
			<li><span>Graduated from Pikesville High School</span> (Class of 2002)</li>
			</ul>
			<div class="clear"></div>
		</dd>
		
		<dt>Websites</dt>
		<dd>
			<ul>
			<li><span><a href="#">DanielMiddleton.net</a></span> (Personal Blog)</li>
			<li><span><a href="#">DanielMiddleton.com</a></span> (Portfolio)</li>
			<li><span><a href="#">IndieDevelopers.com</a></span> (Website)</li>
			</ul>
			<div class="clear"></div>
		</dd>
		
		<dt>Social Profiles</dt>
		<dd class="social">
		
				<a href="#"><img src="images/social/facebook.png"></a>
				<a href="#"><img src="images/social/twitter.png"></a>
				<a href="#"><img src="images/social/youtube.png"></a>
				<a href="#"><img src="images/social/linkedin.png"></a>
				<a href="#"><img src="images/social/myspace.png"></a>
				<a href="#"><img src="images/social/flickr.png"></a>
				<a href="#"><img src="images/social/deviantart.png"></a>
				<a href="#"><img src="images/social/vimeo.png"></a>
				<a href="#"><img src="images/social/tumblr.png"></a>
				<a href="#"><img src="images/social/livejournal.png"></a>
			
			<div class="clear"></div>
			
		</dd>
	</dl>
	
</div>		
</div>
<!-- /PROFILE (MAIN) BOX -->			
		<!-- BEGIN REVIEWS -->
		<div id="profile-reviews" class="main">
			
			<h4><a href="profile.php?reviews">Reviews</a></h4>
			
			<!-- BEGIN REVIEW SET -->
			<div class="review-set">
			
				<h3>Owner &amp; CEO<br>Indie Developers</h3>
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author"><strong>By:</strong> Michael Duncan (Graphic Designer) on February 5, 2011</p>
						<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
						<p class="author">I work for Daniel Middleton as a Graphic Designer at Indie Developers</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author"><strong>By:</strong> Anna Richardson (Student) on December 21, 2010</p>
						<p>"Lorem ipsum dolor sit amet. Consectetur adipisicing elit, sed do eiusmod tempor incididunt."</p>
						<p class="author">I report to Daniel Middleton as an Intern at Indie Developers</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author"><strong>By:</strong> Richard Stover (Accountant) on October 5, 2010</p>
						<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
						<p class="author">I hired Daniel Middleton and Indie Developers to provide a service for me in 2007</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
			
			</div>
			<!-- /END REVIEW SET -->
			
			<!-- BEGIN REVIEW SET -->
			<div class="review-set">
			
				<h3>Senior Developer<br>Infusion Design Studio</h3>
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author">By: {Author_Name} ({Author_Class}) on Month 11, 2011</p>
						<p>"Review"</p>
						<p class="author">I {blank} {Reviewee_Name} {blank} in 2011</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author">By: {Author_Name} ({Author_Class}) on Month 11, 2011</p>
						<p>"Review"</p>
						<p class="author">I {blank} {Reviewee_Name} {blank} in 2011</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author">By: {Author_Name} ({Author_Class}) on Month 11, 2011</p>
						<p>"Review"</p>
						<p class="author">I {blank} {Reviewee_Name} {blank} in 2011</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
			
			</div>
			<!-- /END REVIEW SET -->
			
			<!-- BEGIN REVIEW SET -->
			<div class="review-set">
			
				<h3>Programmer<br>Compco</h3>
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author">By: {Author_Name} ({Author_Class}) on Month 11, 2011</p>
						<p>"Review"</p>
						<p class="author">I {blank} {Reviewee_Name} {blank} in 2011</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author">By: {Author_Name} ({Author_Class}) on Month 11, 2011</p>
						<p>"Review"</p>
						<p class="author">I {blank} {Reviewee_Name} {blank} in 2011</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author">By: {Author_Name} ({Author_Class}) on Month 11, 2011</p>
						<p>"Review"</p>
						<p class="author">I {blank} {Reviewee_Name} {blank} in 2011</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
			
			</div>
			<!-- /END REVIEW SET -->
			
			<!-- BEGIN REVIEW SET -->
			<div class="review-set">
			
				<h3>Student<br>Vanderbilt University</h3>
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author">By: {Author_Name} ({Author_Class}) on Month 11, 2011</p>
						<p>"Review"</p>
						<p class="author">I {blank} {Reviewee_Name} {blank} in 2011</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author">By: {Author_Name} ({Author_Class}) on Month 11, 2011</p>
						<p>"Review"</p>
						<p class="author">I {blank} {Reviewee_Name} {blank} in 2011</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
				
				<!-- REVIEW -->
				<div class="review-box">
					
					<div class="av">
					</div>
					
					<div class="review">
						<p class="author">By: {Author_Name} ({Author_Class}) on Month 11, 2011</p>
						<p>"Review"</p>
						<p class="author">I {blank} {Reviewee_Name} {blank} in 2011</p>
					</div>
					
				</div>
				<!-- /REVIEW -->
			
			</div>
			<!-- /END REVIEW SET -->
			
			<div class="right_more"><a href="profile.php?reviews">See all 31 Reviews »</a></div>
			
		</div>
		<!-- /END REVIEWS -->
			
		<!-- BEGIN COMMENTS -->
		<div id="profile-comments" class="main">
			
			<h4><a href="profile.php?comments">Comments</a></h4>

			<!-- COMMENT FORM -->			
			<div class="prof-com-form">
			<form id="new_comment" method="post" action="/comments"><div style="margin: 0pt; padding: 0pt; display: inline;"><input type="hidden" value="7h+1AMlnr0hG14YThFpJcjA7wDU9DAAyd2QXiKd2W4k=" name="authenticity_token"></div>
			  <div class="">
			    <textarea name="comment[message]" id="comment_message" style="overflow: hidden; height: 16px;"></textarea>
			    <input type="submit" value="Add Comment" name="commit" class="com-submit inact" disabled="">
			  <div style="position: absolute; display: none; word-wrap: break-word; font-weight: 400; width: 560px; font-family: &quot;Lucida Grande&quot;,Verdana,Arial; line-height: 15px; font-size: 12px; padding: 10px;">&nbsp;</div></div>
			</form>
			<div class="clear"></div>
			</div>
			<!-- /COMMENT FORM -->
		
			<!-- COMMENT -->
			<div class="comment">	
				<div class="thumb_info">
					<a href="#"><img src="av/thumb/23.jpg" alt="Thumb"></a>
				</div>
				<div class="comment_message">
				<p class="com_user"><a href="#">NewYorkChef</a> <span class="com_user_fn">(Johnathan McKinney)</span></p>
				<p class="com_mess">Lorem ipsum dolor sit amet!</p>
				<p class="act_time"><img src="images/icons/comment_small.png" class="icon"> <span>30 minutes ago</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- /COMMENT -->

			<!-- COMMENT -->
			<div class="comment">	
				<div class="thumb_info">
					<a href="#"><img src="av/thumb/12.jpg" alt="Thumb"></a>
				</div>
				<div class="comment_message">
				<p class="com_user"><a href="#">DaPrince</a> <span class="com_user_fn">(daprince)</span></p>
				<p class="com_mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="act_time"><img src="images/icons/comment_small.png" class="icon"> <span>6 hours ago</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- /COMMENT -->

			<!-- COMMENT -->
			<div class="comment">	
				<div class="thumb_info">
					<a href="#"><img src="av/thumb/18.jpg" alt="Thumb"></a>
				</div>
				<div class="comment_message">
				<p class="com_user"><a href="#">ncschon</a> <span class="com_user_fn">(Nick)</span></p>
				<p class="com_mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p class="act_time"><img src="images/icons/comment_small.png" class="icon"> <span>20 hours ago</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- /COMMENT -->

			<!-- COMMENT -->
			<div class="comment">	
				<div class="thumb_info">
					<a href="#"><img src="av/thumb/8.jpg" alt="Thumb"></a>
				</div>
				<div class="comment_message">
				<p class="com_user"><a href="#">Markie</a> <span class="com_user_fn">(Mark Lewis)</span></p>
				<p class="com_mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<p class="act_time"><img src="images/icons/comment_small.png" class="icon"> <span>yesterday</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- /COMMENT -->

			<!-- COMMENT -->
			<div class="comment">	
				<div class="thumb_info">
					<a href="#"><img src="av/thumb/29.jpg" alt="Thumb"></a>
				</div>
				<div class="comment_message">
				<p class="com_user"><a href="#">modelchic</a> <span class="com_user_fn">(Samantha Williamson)</span></p>
				<p class="com_mess">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="act_time"><img src="images/icons/comment_small.png" class="icon"> <span>3 days ago</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- /COMMENT -->

			<!-- COMMENT -->
			<div class="comment">	
				<div class="thumb_info">
					<a href="#"><img src="av/thumb/6.jpg" alt="Thumb"></a>
				</div>
				<div class="comment_message">
				<p class="com_user"><a href="#">TnsGrl1976</a> <span class="com_user_fn">(Carla)</span></p>
				<p class="com_mess">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<p class="act_time"><img src="images/icons/comment_small.png" class="icon"> <span>a week ago</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- /COMMENT -->
			
			<!-- COMMENT -->
			<div class="comment">	
				<div class="thumb_info">
					<a href="#"><img src="av/thumb/11.jpg" alt="Thumb"></a>
				</div>
				<div class="comment_message">
				<p class="com_user"><a href="#">HomeRun1985</a> <span class="com_user_fn">(Charles Wilson)</span></p>
				<p class="com_mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="act_time"><img src="images/icons/comment_small.png" class="icon"> <span>November 1st at 9:32pm</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- /COMMENT -->
			
			<!-- COMMENT -->
			<div class="comment">	
				<div class="thumb_info">
					<a href="#"><img src="av/thumb/30.jpg" alt="Thumb"></a>
				</div>
				<div class="comment_message">
				<p class="com_user"><a href="#">WhatsUpDOC</a> <span class="com_user_fn">(Bryan Jameson)</span></p>
				<p class="com_mess">Lorem ipsum dolor.......</p>
				<p class="act_time"><img src="images/icons/comment_small.png" class="icon"> <span>October 15th at 5:15pm</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- /COMMENT -->
			
			<!-- COMMENT -->
			<div class="comment">	
				<div class="thumb_info">
					<a href="#"><img src="av/thumb/16.jpg" alt="Thumb"></a>
				</div>
				<div class="comment_message">
				<p class="com_user"><a href="#">GlamSquad08</a> <span class="com_user_fn">(Michelle Matthews)</span></p>
				<p class="com_mess">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="act_time"><img src="images/icons/comment_small.png" class="icon"> <span>October 14th at 3:02pm</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- /COMMENT -->
			
			<!-- COMMENT -->
			<div class="comment">	
				<div class="thumb_info">
					<a href="#"><img src="av/thumb/6.jpg" alt="Thumb"></a>
				</div>
				<div class="comment_message">
				<p class="com_user"><a href="#">TnsGrl1976</a> <span class="com_user_fn">(Carla)</span></p>
				<p class="com_mess">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum!!!!</p>
				<p class="act_time"><img src="images/icons/comment_small.png" class="icon"> <span>October 1st at 8:11am</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- /COMMENT -->
			
			<div class="right_more"><a href="profile.php?comments">See all 121 Comments »</a></div>
			<div class="clear"></div>

		</div>
		<!-- /END COMMENTS -->

</div>
<div id="pyo-right">
		<!-- FOLLOWING -->
<div class="profile-following">
	<h3><a href="profile.php?followers">1,234 <span>Followers</span></a></h3>
	
	<a href="#"><img src="av/thumb/3.jpg"></a>
	<a href="#"><img src="av/thumb/18.jpg"></a>
	<a href="#"><img src="av/thumb/27.jpg"></a>
	<a href="#"><img src="av/thumb/6.jpg"></a>
	<a href="#"><img src="av/thumb/19.jpg"></a>
	<a href="#"><img src="av/thumb/28.jpg"></a>
	<a href="#"><img src="av/thumb/8.jpg"></a>
	<a href="#"><img src="av/thumb/21.jpg"></a>
	<a href="#"><img src="av/thumb/29.jpg"></a>
	<a href="#"><img src="av/thumb/11.jpg"></a>
	<a href="#"><img src="av/thumb/22.jpg"></a>
	<a href="#"><img src="av/thumb/30.jpg"></a>
	<a href="#"><img src="av/thumb/12.jpg"></a>
	<a href="#"><img src="av/thumb/23.jpg"></a>
	<a href="#"><img src="av/thumb/16.jpg"></a>
	<a href="#"><img src="av/thumb/26.jpg"></a>
	
</div>

<div class="profile-following">
	<h3><a href="profile.php?connects">234 <span>Connects</span></a></h3>

	<a href="#"><img src="av/thumb/3.jpg"></a>
	<a href="#"><img src="av/thumb/19.jpg"></a>
	<a href="#"><img src="av/thumb/6.jpg"></a>
	<a href="#"><img src="av/thumb/27.jpg"></a>
	<a href="#"><img src="av/thumb/18.jpg"></a>
	<a href="#"><img src="av/thumb/28.jpg"></a>
	<a href="#"><img src="av/thumb/22.jpg"></a>
	<a href="#"><img src="av/thumb/21.jpg"></a>
	<a href="#"><img src="av/thumb/12.jpg"></a>
	<a href="#"><img src="av/thumb/26.jpg"></a>
	<a href="#"><img src="av/thumb/8.jpg"></a>
	<a href="#"><img src="av/thumb/30.jpg"></a>
	<a href="#"><img src="av/thumb/29.jpg"></a>
	<a href="#"><img src="av/thumb/16.jpg"></a>
	<a href="#"><img src="av/thumb/23.jpg"></a>
	<a href="#"><img src="av/thumb/11.jpg"></a>

</div>
<!-- /FOLLOWING -->

<!-- USER ACTIONS -->
<div class="user-profile-actions">
	<ul>
	<li><a href="message.php?compose" id="upa-msg"><span>Send Daniel Middleton a message</span></a></li>
	<li><a href="forward.php" id="upa-fwd"><span></span>Forward Daniel Middleton's profile</a></li>
	<li><a href="recommend.php" id="upa-rmd"><span></span>Review Daniel Middleton</a></li>
	</ul>
</div>
<!-- /USER ACTIONS -->

<img src="images/advertisement_short.jpg" class=" feujtlrorlslqeyktmuy">

<!-- ACTIVITY -->
<div class="profile-activity">
	<h4><a href="profile.php?activity">Activity</a></h4>
	
	<div class="status_activity activity">
		<div class="activity_detail">
		<p><a href="#">dannyBoy19</a> <span class="f_name">(Daniel Middleton)</span></p>
		<p><span class="activity-desc"> <span class="reg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin purus ut nisl pretium sit amet porttitor quam cursus. Phasellus vitae sollicitudin lacus. Ut eu magna non mi laoreet fermentum at vitae mauris.</span></span></p>
		<p class="act_time"><span>9 minutes ago</span></p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="status_activity activity">
		<div class="activity_detail">
		<p><a href="#">dannyBoy19</a> <span class="f_name">(Daniel Middleton)</span></p>
		<p><span class="activity-desc"> <span class="reg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin purus ut nisl pretium sit amet porttitor quam cursus.</span></span></p>
		<p class="act_time"><span>yesterday</span></p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="activity">
		<div class="activity_detail">
		<p><a href="#">dannyBoy19</a> <span class="f_name">(Daniel Middleton)</span> <span class="activity-desc">posted 6 photos in the album: "<a href="#">Photo Album Name</a></span>".</p>
		<p class="act_time"><img src="images/icons/pictures_small.png" class="icon"> <span>2 days ago</span></p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="comment_activity activity">
		<div class="activity_detail">
		<p><a href="#">dannyBoy19</a> <span class="f_name">(Daniel Middleton)</span> <span class="activity-desc">left a comment for <a href="#">AnotUse</a></span>.</p>
		<p><span class="act-comment">Nullam adipiscing vestibulum enim vitae ultricies! Morbi at sapien turpis. Suspendisse potenti. Sed aliquet euismod ante et elementum. Nullam a lectus libero, at venenatis sapien!!</span></p>
		<p class="act_time"><img src="images/icons/comment_small.png" class="icon"> <span>a week ago</span></p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="activity">
		<div class="activity_detail">
		<p><a href="#">dannyBoy19</a> <span class="f_name">(Daniel Middleton)</span> <span class="activity-desc">joined the group: "<a href="#">Group Name</a></span>".</p>
		<p class="act_time"><img src="images/icons/groups_16.png" class="icon"> <span>November 1st at 8:05pm</span></p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="right_more"><a href="profile.php?activity">See all 132 Updates »</a></div>
	<div class="clear"></div>
</div>
<!-- /ACTIVITY -->

<!-- BLOGS -->
<div class="profile-blogs">
	<h4><a href="profile.php?blog">Latest Blog Entries</a></h4>
	
	<div class="user-blog-posts">
		<ul>
		<li><a href="message.php?compose"><span>This is the title of a Blog Post</span></a></li>
		<li><a href="forward.php"><span>This is the title of Another Blog Post</span></a></li>
		<li><a href="recommend.php"><span>And this is what it looks like with a REALLY LONG Title for a Blog Post</span></a></li>
		<li><a href="recommend.php"><span>Here's a fourth blog post...</span></a></li>
		<li><a href="recommend.php"><span>And last but not least, a fifth blog post...</span></a></li>
		</ul>
		<div class="right_more"><a href="#">See all 23 Posts »</a></div>
		<div class="clear"></div>
	</div>
	
</div>
<!-- /BLOGS -->

<center><img src="images/tall_advertisement.jpg" class=" feujtlrorlslqeyktmuy"></center>
</div>
<div class="clear"></div>