.main
  .inner_content
    %h2 User's Videos
  
  .inner_content
    %h2 User's Audio

.details
  .inner_content
    = @user.name
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, metus egetipsum dolor sit
    %h3 Following
    %p
      Not following Anyone
    %h3 Alerts
    %p
      No Alerts
    %button
      Add Media
  .inner_content
    .advertisement
      Advertisement