.main
  .inner_content
    %h2 User's Videos
  
  .inner_content
    %h2 User's Audio

.details
  .inner_content
    
    %button Follow
    %button Favorite
    %button Message
    
    = @user.name
    
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, metus egetipsum dolor sit

  .inner_content
    .advertisement
      Advertisement