%h1.bordered_title 
  About <span class='blue'>Put Yourself On</span>

.inner_content
  .main
    #about
      - if params.key?(:why)
        Text will go here...
      - elsif params.key?(:who)
        Text will go here...
      - else
        %p Put Yourself On, Inc. is a web start-up that aims to provide anyone/everyone on the internet with the appropriate tools to do one or all of the following things:

        %ol
          %li The ability to <span class='blue'>promote and share a talent (or talents) they already possess with the world</span>, whether it be a powerful singing voice, an amazing athletic skill, a mind-blowing creative ability/technique, and everything in between.
          %li The ability to <span class='blue'>discover and observe new talent</span>, including singers, rappers, musicians, athletes, models, actors/actresses, and anything else you can think of, in addition to allowing them to connect with the user in several different ways.
          %li The ability to <span class='blue'>enjoy all of the talent that PutYourselfOn.com provides</span>, and connect with and promote the talent in a number of ways

        %p The PutYourselfOn.com website is a very basic but none the less state of the art application that does all of the above in a sleek and efficient way. Initially funded by Welco, a private company based out of Greenville, SC, the website itself was conceived and developed over the period of one year beginning in September 2008 before its mid-September 2009 silent launch. Upon noticing that there weren't any efficient ways to sort through and follow or connect with talented people on sites like YouTube, MySpace, Facebook, Twitter, Vimeo, and similar social media/networking sites, Brandon Wideman, a Freshman at Clemson Unversity at the time, came up with the idea to provide people with an application to do just that. He and his roommate Dustin Gary, also a Freshman at Clemson, set out to develop PutYourselfOn.com.

  = render 'about_menu'
    