%h1.bordered_title 
  Contact <span class='blue'>Put Yourself On</span>

.inner_content.static_pages.contact
  .main
    %p Free free to contact us for partnership proposals, press/media inquiries, investment opportunities or to ask us any questions you have that aren't covered in our Frequently Asked Questions.
    %p
      %strong CUSTOMER SUPPORT:<br />
      <a href="mailto:help@putyourselfon.com">help (at) putyourselfon . com</a>

    %p
      %strong POTENTIAL INVESTORS:<br />
      <a href="mailto:invest@putyourselfon.com">invest (at) putyourselfon . com</a>

    %p
      %strong PARTNERSHIP PROPOSALS:<br />
      <a href="mailto:partner@putyourselfon.com">partner (at) putyourselfon . com</a>

    %p
      %strong PRESS/MEDIA INQUIRIES:<br />
      <a href="mailto:press@putyourselfon.com">press (at) putyourselfon . com</a>

    %p
      %strong COMMENTS/FEEDBACK:<br />
      <a href="mailto:putyourselfon@gmail.com">putyourselfon (at) gmail . com</a>

    %p
      %strong CONTACT OUR FOUNDERS:<br />
      Brandon Wideman - <a href="mailto:brandon@putyourselfon.com">brandon (at) putyourselfon . com</a><br />
      Dustin Gary - <a href="mailto:dustin@putyourselfon.com">dustin (at) putyourselfon . com</a>

  = render 'about_menu'