%h1.bordered_title 
  <span class="blue">Frequently Asked Questions</span>

.inner_content.static_pages.faq
  .main
    %p If you need help with anything or have questions about PYO, please send an e-mail to <a href="mailto:help@putyourselfon.com">help (at) putyourselfon . com</a>.
    
  = render 'about_menu'