- payload = item.payload
posted a new #{payload.type.to_s.singularize.downcase}
- if payload.respond_to?(:image)
  .media
    = link_to image_tag(payload.image.url(:thumb)), user_photo_path(payload.user, payload)
