<div id="top-bar">
		
		<!-- INNER TOP BAR -->
		<div id="inner-top-bar">
			
			<!-- INNER TOP -->
			<div id="inner-top">
				
				<div id="logo">
				<a href="dashboard.php"><img height="68" border="0" width="323" src="images/blank.gif" alt=""></a>
				</div>
				
				<div id="top-share">
					<a href="#">SHARE</a>
				</div>
				
				<div id="top-user-options">
					
					<ul class="topnav profile-dropdown">
						<li>
							<span id="top-profile-image">
								<img src="av/dash/7.jpg">
							</span>
							<span id="screen-name">
								dannyBoy19
							</span>
							<ul class="subnav">
							<li><a href="dashboard.php">Dashboard</a></li>
							<li><a href="settings.php">Settings</a></li>
							<li><a href="index.php?logout">Logout</a></li>
							</ul>
						<span></span></li>
					</ul>
					
					<!-- <a class="top-user-links" href="#">
						<span id="prof_img">
							<img src="http://67.202.20.214/data/profiles/dashboard.png?1254859830">
						</span>
					</a>
					<span id="top-username">Username</span> -->
					
				</div>
				
				<div id="top-search">
					
					<form action="/search">
					<input type="text" name="q" class="search-box">
					<input type="submit" value="Search" src="images/blank.gif" class="search-submit">
					</form>
				</div>
				
			</div>
			<!-- /INNER TOP -->
			
			<!-- INNER BOT -->
			<div id="inner-bot">
				<div id="mainnav">
					<ul id="mainnavbar">
						<li><a href="dashboard.php">Home</a></li>
						<li><a href="profile.php">My Profile</a></li>
						<li><a href="profile.php?connects">My Connections</a></li>
						<li><a href="people.php">People</a></li>
						<li><a href="groups.php">Groups</a></li>
						<li><a href="inbox.php" id="new">Inbox (22)</a></li>
						<li style="background: none repeat scroll 0% 0% transparent;">
							<a href="#">Explore</a>
								<ul class="mainnavsub">
								<li><a href="videos.php">Videos</a></li>
								<li><a href="music.php">Music</a></li>
								<li><a href="marketplace.php">Marketplace</a></li>
								</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- /INNER BOT -->
			
		</div>
		<!-- /INNER TOP BAR -->
	
	</div>